.posts-navigation,
.post-navigation {
  margin: 30px 0;

  a {
    color: #fff;
  }

  .nav-previous,
  .nav-next {
    display: inline-block;
    @extend .btn;
    @extend .btn-info;
  }

    .nav-previous:before {
    font-family: 'FontAwesome';
    content: '\f060';
    position: relative;
    margin-right: 5px;
    font-size: 110%;
  }

  .nav-next {
    float: right;

    :before{
      font-family: 'FontAwesome';
      content: '\f061';
      position: relative;
      margin-right: 5px;
      font-size: 110%;
    }
  }
  }